/* universal styles */
 
 /*css reset chris coyier*/
*, 
*:before, 
*:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*clearfix paul irish*/
.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

 /*global styles*/

.centerme{
	text-align: center; 
}

.left{
	float: left;
}

.right{
	float: right;
}

.hide{
	display: none;
}


 /*page styles*/

.home{
	font-family: 'Dosis', sans-serif;
	font-size: 62.5%;
	background: url(../img/halftone.png) repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}


.header-container{
	font-family: 'Noto Serif', serif;
	font-size: 3em;
	text-align: center;
	border-bottom: solid rgba(118, 68, 106, 1) 10px;
	vertical-align: center;
	height: 300px;
	color: rgba(255, 255, 255, 1);
	background:rgba(118, 68, 106, 0.65);
}

.banner{
	background-image:url(../img/heart-wood.jpg);
	height: 300px;
}

.text{
	font-family: 'Noto Serif', serif;
	color:rgba(157, 80, 138, 1);
	font-size:1.5em;
}

.commands{
	color:rgba(157, 80, 138, 1);
	font-weight: 600;
}

section{
	text-align: center;
	font-size: 1.6em;
	line-height: 20px;
	background: rgba(255, 255, 255, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

p{
	
	margin-bottom: 10px;
}


